<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-8">
            <ngui-map zoom="8" (mapReady$)="onMapReady($event)">
                <marker *ngFor="let m of markers" 
                    [position]="m.pos"
                    [icon]="m.icon"
                    (initialized)="onMarkerInit($event)"></marker>
                <!-- <map-circle
                    [center]="{lat: 40.748817, lng: -73.985428}">
                </map-circle> -->
            </ngui-map>
        </div>
        <div class="col-lg-4 container-fluid">
            <div *ngFor="let row of orders" (click)="toggleOrder(row)" class="order">
                <div class="row">
                    <div class="col-lg-2 date">
                            <div *ngIf="row.isNew">חדש</div>
                            {{row.orderDate}}
                        </div>
                        <div class="col-lg-8 details">
                            <h4>{{row.supplier.details.name}}</h4>
                            <h6>{{row.supplier.details.address}}</h6>
                            <h6>{{row.supplier.details.region}}</h6>
                            <h6>{{row.supplier.details.phone}}</h6>
                        </div>
                        <div class="col-lg-2 image">
                            <div [ngStyle]="{ 'background-image': 'url(' + row.supplier.details.logo_image + ')'}"></div>
                    </div>
                </div>
                <div *ngIf="row.show" class="additional-info container-fluid">
                    <div class="row">
                            <div class="col-lg-6">
                                <div>לאיסוף עד: <span>{{row.pickupDate | date}}</span></div>
                            </div>
                            <div class="col-lg-6">
                                <div>מספר קריאה: <span>{{row.number}}</span></div>
                                <div>סוג: <span>{{row.type}}</span></div>
                                <div>סחורה לבחירה: <span><img [src]="row.product.imageURL"> {{row.product.name + ' ' + row.quantity + 'קג'}}</span></div>
                            </div>
                    </div>
                    <div class="row">   
                        <div class="">
                            <button type="button" class="btn btn-success" (click)="openModal($event, row)">הזמן</button>
                            <button type="button" class="btn btn-light">סגור</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
