.row {
    margin: 0px;
    background: white;
    position: relative;
    &:active, &:hover {
        cursor: pointer;
    }
}

.order {
    border-bottom: 1px solid #ccc;
}

.col-lg-8 {
    padding: 0;
}

.image {
    text-align:center;
    height:100%;
    position: absolute;
    div {
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 12px;
    }
}

.details {
    margin-top:6px;
    margin-bottom:6px; 
    h4 {
        margin:0;
        margin-bottom:6px; 
        font-size: 18px;
    }
    h6{
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        line-height: 16px;
        &:last-child {
            font-size: 12px;
            margin-top: 3px;
        }
    }
}

.date {
    padding-top: 10px;
    font-weight: 600;
    div {
        height: 24px;
        background: #00B686;
        color: white;
        padding-right: 6px;
    }
}

.additional-info {
    background: #EFEFEF;
    &.container-fluid {
        padding: 15px;
    }
    height: 150px;
    .row {
        background: transparent;
        .col-lg-6 {
            div {
                color: #00B686;
                line-height: 22px;
                span {
                    color: #5e5e5e;
                }
            }
        }
        img {
            width: 20px;
        }
    }
    button {
        border-radius: 4px;
        margin: 5px;
    }
}