<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-8">
            <ngui-map zoom="13" center="40.748817,-73.985428" >
                <marker [position]="[40.748817,-73.985428]"></marker>
                <map-circle
                    [center]="{lat: 40.748817, lng: -73.985428}">
                </map-circle>
            </ngui-map>
        </div>
        <div class="col-lg-4 container-fluid">
            <div *ngFor="let row of tableData1.dataRows" (click)="row.show = !row.show " class="order">
                <div class="row">
                    <div class="col-lg-2 date">
                            <div *ngIf="row.isNew">חדש</div>
                            {{row.created}}
                        </div>
                        <div class="col-lg-8 details">
                            <h4>{{row.name}}</h4>
                            <h6>{{row.address}}</h6>
                            <h6>{{row.city}}</h6>
                            <h6>{{row.phone}}</h6>
                        </div>
                        <div class="col-lg-2 image">
                            <img [src]="row.image">
                    </div>
                </div>
                <div *ngIf="row.show" class="additional-info">
                    Yo
                </div>
            </div>
        </div>
    </div>
  
</div>
