.icn {
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 35px;
    height: 35px;
    position: relative;
    top: -5px;
}
.food {
    background-image: url("../../assets/icons/001-food.svg");
}

.delivery {
    background-image: url("../../assets/icons/002-delivery-truck.svg");
}

.history {
    background-image: url("../../assets/icons/003-history.svg");
}

.account {
    background-image: url("../../assets/icons/004-avatar.svg");
}

.filter {

}

.search {

} 